@media screen and (max-width: 600px) {
  header div {
    margin: auto;
    text-align: center;
    padding: 20px 0;
  }

  header img {
    margin-right: 30px;
    width: 150px;
    height: 150px;
  }

  header h2 {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 26px;
  }
}

@media screen and (min-width: 33.5em) {
  header div {
    text-align: center;
    padding: 20px 0;
  }

  header img {
    width: 220px;
    height: 220px;
  }
  
  header h2 {
    font-size: 26px;
  }
}
