* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    background-color: #011538;
    color: #f2cb12;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .content {
    color: #000;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    background: #e7e7e7;
    margin-bottom: 30px;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    border-radius: 12px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 10px;
  }
  
  #item {
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-align: left;
    max-width: 80%;
    margin-bottom: 2px;
    overflow: auto;
  }
  
  #addChapterBtn,
  .deleteButton {
    border: solid 1px rgb(8, 8, 8);
    border-radius: 6px;
    padding: 8px;
    font-weight: bold;
    background-color: #0182be;
    color: aliceblue;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.555);
    width: 150px;
    cursor: pointer;
  }
  #addChapterBtn:hover,
  .deleteButton:hover {
    background: #011538;
    color: rgb(255, 255, 255);
  }
  .deleteButton:hover {
    border: solid 1px #000000;
  }
  ul {
    width: 90%;
    padding: 0;
    list-style: none;
  }
  
  ul > li {
    position: relative;
    padding: 2px;
    margin: 5px 0;
    width: 100%;
    background-color: rgb(243, 243, 243);
    border-radius: 12px;
    border: solid 1px #999;
    background-color: #077eee;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  li span {
    font-size: 20px;
    padding: 10px;
    width: 80%;
  }
  
  .deleteButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    border: solid 1px rgb(155, 149, 149);
    color: aliceblue;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    width: 50px;
  }
  
  footer {
    height: auto;
    text-align: center;
    padding: 10px 10px;
  }
  
  footer a {
    text-decoration: none;
    color: #0182be;
    font-weight: 500;
  }
  
  footer a:hover {
    text-decoration: none;
    color: #077eee;
    font-weight: 500;
  }
  
  #firstLineFooter {
    padding: 0;
    color: #ffffff;
  }