body {
    margin: 20px auto;
    max-width: 100%;
  }
  
  body,
  main {
    background-color: #e7e7e7;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }
  
  h1 {
    font-size: 35px;
  }
  
  h2 {
    font-size: 25px;
  }
  
  h3 {
    font-size: 20px;
    background-color: #858AE3;
    margin: 0px;    
    padding: 10px;
    color: #222222;
  }
  
  header,
  h3 {
    font-family: "Arvo", Georgia, serif;
    color: black;
  }
  
  header,
  footer {
    text-align: center;
    background-color: #613DC1;
    padding: 10px 0px;
    color: #e7e7e7;
  }
  
  section,
  img {
    border: 1px solid #333333;
  }
  
  section,
  footer {
    margin: 10px;
  }
  
  section {
    border-radius: 10px;
    background-color: #ACAFEC;
    padding: 10px 20px;
  }
  
  img {
    width: 100%;
    height: auto;
    justify-self: center;
    border: 1px solid #333333;
    margin-top: 10px;
  }
  
  p,
  footer {
    font-family: "Inter", Helvetica, sans-serif;
    font-size: 16px;
  }
  
  img p {
    padding-bottom: 15px;
  }

  #back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
  }
  
  #back-button img {
    width: 30px;
    height: 30px;
  }