/* Main */
#hero-img {
  opacity: 85%;
  width: 100%;
  height: auto;
  object-fit: contain;
}
/* Image for week 6 */
#hero,.discoverPicture {
  width: 100%;
}
#hero picture,.discoverPicture picture {
  opacity: 85%;
}
/* Image for week 6 */

#hero .gridAreatitle, .discoverPicture .gridAreatitle {
  top: 80%;
  left: 50%;
}
#hero .gridAreaContent button, .discoverPicture .gridAreaContent button {
  top: 90%;
  left: 75%;
}

.spotlights .gridAreaContent img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  margin-top: -20px;
  margin-bottom: 0;
}
.spotlights .gridAreaContent hr {
  height: 2px;
  margin-top: 0;
  margin-bottom: 5px;
}
.spotlightsSlogan,
.spotlights .gridAreaContent p {
  font-size: 15px;
}
#spotlightTwo img {
  padding: 0px;
  margin-top: -18px;
}
#spotlightTwo h2 {
  font-size: 24px;
}

/* Main Discover */
.section-title h1{
  font-size: 52px;
}
#main-discover .gridAreatitle h2 {
  max-width: 100%;
  margin-top: -350px;
  margin-bottom: 30px;
  padding: 20px 10px;  
  font-size: 30px;
}
#main-discover .gridAreatitle p {
font-size: 22px;
}
#main-discover .gridAreaContent button{
  top: 85%;
  left: 85%;
}
canvas {
  max-width: 100%;
  width: 600px;
  height: auto;
  margin: 0 auto;
  max-height: 500px;
}
#chart-container{
  width: 60%;
}
#totalVisitorsContainer {
  bottom: 35%;
}
#totalVisitorsContainer p{
  margin-top: -50px;
  font-size: 26px;
}
#totalVisitorsContainer button{
  font-size: 26px;
}
/* Main Discover end */

/* Footer */

hr {
  height: 2px;
  margin: 20px 0;
  background: linear-gradient(to right, var(--bannerColorPrimary), var(--bannerColorSecondary), var(--bannerColorPrimary));
  border: none;
  width: 100%;
}
