.headerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  
}

.headerInfo .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  position: absolute;
  order: 2;
  left: 30px;
  top: 0;
}
.titleContainer{
  position: absolute;
  order: 2;
  left: 120px;
  top: 20px;
}
nav {
  text-align: center;
}

.hamburger {
  display: block;
  order: 1;
}
.mainMenu {
  display: none;
}
.toggleMenu {
  background: linear-gradient(to right, var(--backgroundPrimaryColor), var(--backgroundSecondaryColor), var(--backgroundPrimaryColor));
  flex-grow: 0;
  height: 0;
  margin: 0 auto;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 20px 20px;
  opacity: 0; /* <li> hidden*/
  animation: fadeInMenu 0.6s ease-in-out forwards;
  animation-delay: 2s; 
}

@keyframes fadeInMenu {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 150px; 
  }
}

.toggleMenu li {
  display: block;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: 10px 20px;
  opacity: 0; /* <li> hidden */
  animation: fadeInLi 0.2s ease-in-out forwards;
  animation-delay: 0.2s;
}

@keyframes fadeInLi {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.toggleMenu li a {
  text-decoration: none;
  color: #0a0c0c;
}

.toggleMenu li a:hover {
  color: #ce7420;
}

.toggleMenu {
  flex-wrap: wrap;
  border: none;
  border-top: 1.5px solid var(--accentColor);
  border-bottom: 1.5px solid var(--accentColor);
  margin-bottom: -30px;
  display: none;
  flex-direction: column;

}

.toggleMenu.active {
  display: block;
  animation: slideUp 0.1s ease-in-out forwards;
  animation-delay: 0.1s; /* <li> aparecen gradualmente */
  opacity: 1; /* <li> visible */
}

@keyframes slideUp {
  0% {
    height: 0px;
  }
  100% {
    height: 150px;
  }
}

.socialsHeader {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-right: 50px;
}

.socialsHeader i {
  margin-right: -5px;
  margin-left: 1px;
  margin-bottom: 10px;
  font-size: 20px;
}

.socialsHeader a {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: #0a0c0c;
}

.socialsHeader a:hover {
  color: #ce7420;
}
/* Main */

#hero-img {
  opacity: 85%;
  width: 100%;
  height: auto;
}

/* Image for week 6 */
#hero,.discoverPicture {
  width: 100%;
}
#hero picture,.discoverPicture picture {
  opacity: 85%;
}
/* Image for week 6 */

#hero .gridAreatitle,.discoverPicture .gridAreatitle {
  top: 75%;
  left: 50%;
}
#hero .gridAreaContent button,.discoverPicture .gridAreaContent button {
  top: 90%;
  left: 80%;
}
.spotlights .gridAreaContent img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  margin-top: -20px;
  margin-bottom: 0;
}
.spotlights .gridAreaContent hr {
  height: 2px;
  margin-top: 0;
  margin-bottom: 1px;
}
.spotlightsSlogan,
.spotlights .gridAreaContent p {
  font-size: 16px;
}
/* Main discover*/
.section-title{
  margin-bottom: 40px;
  padding-top: 40px;
  font-size: 44px;
}
.section-title h1{
  font-size: 42px;
}

.section-title h2{
  font-size: 36px;
  margin-bottom: 0;
}

#main-discover .gridAreatitle h2 {
  max-width: 100%;
  margin-top: -250px;
  margin-bottom: 30px;
  padding: 20px 10px;  
  font-size: 30px;
}
#main-discover .gridAreatitle p {
font-size: 20px;
}
#main-discover .gridAreaContent button{
  top: 90%;
  left: 85%;
}
#chart-container{
  max-width: 90%;
  height: 300px;
}
canvas {
  max-width: 100%;
  width: 600px;
  height: auto;
  margin: 0 auto;
  max-height: 500px;
}
#totalVisitorsContainer {
  display: none;
  position: fixed;
  width: 50%;
  left: 0;
  right: 0;
  bottom: 40%;
  z-index: 2;
  padding: 20px 15px;
  background-color: #00445a;
  color: white;
  border-radius: 12px;
  border: solid 1px #000000;
  font-weight: bold;
  border: none;
  box-shadow: 1px 1px 5px #000000;
  overflow: hidden;
  text-align: center;
}
#totalVisitorsContainer.active ~ #viewsButton{
  display: block;
}
#totalVisitorsContainer p{
  margin-top: -40px;
  font-size: 22px;
}
#totalVisitorsContainer button{
  font-size: 22px;
}
/* Main discover end*/
/* Footer */

footer {
  text-align: center;
  padding: 10px 10px;
}

footer a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

footer a:hover {
  text-decoration: none;
  color: #ce7420;
  font-weight: 500;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.footerLogoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 33%;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 20px;
}

#footerLogoInfo {
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  height: auto;
}

#footerTitle {
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 3px;
  font-size: 16px;
}
#logoFooter {
  width: 250px;
  margin-top: -30px;
  margin-bottom: -40px;
}

.contacts {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 33%;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 16px;
}

.contacts p {
  margin-bottom: -5px;
  margin: 0;
}

hr {
  height: 2px;
  margin: 20px 0;
  border: none;
  width: 100%;
}

#firstLineFooter,
#secondLineFooter {
  display: flex;
  flex-direction: row;
}

#firstLineFooter {
  width: 100%;
  padding: 0;
  color: #0a0c0c;
  text-align: center;
  font-size: 13px;
}
#firstLineFooter p {
  margin-bottom: 5px;
  margin-right: 10px;
}

#secondLineFooter {
  color: #039ba0;
  font-weight: 100;
  font-style: italic;
}

#firstLineFooter p:not(:last-child)::after {
  content: " |";
  display: inline;
}
