:root{
    --primary: #5E0B0E;
    --secondary: #361C18;    
    --accent1: #D6AE81;
    --accent2: #120B0E;
}

* {box-sizing: border-box;}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--primary);
    color: var(--accent1);
}

header, footer {
    text-align: center;
    text-shadow: 1px 1px black;
    font-family: 'Libre Baskerville', serif;
    
}

nav {
    font-family: 'Libre Baskerville', serif;
}

footer {
    background-color: var(--secondary);
    margin-top: 40px;
    padding: 14px;
    min-height: 4em;
    font-size: 0.85em;
    line-height: 1.6em;
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 900px;
    margin: auto;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

section {
    width: 100%;
    margin-top: 25px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.4em;
}

a {
    color: var(--accent1);
    text-decoration: none;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

li {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.link-div {
    display: flex;
    justify-content: center;
    padding: 8px;
    background-color: var(--secondary);
}

.link-div:hover {
    background-color: var(--accent2);
    font-weight: 600;
}

.color-li {
    width: 100%;
    margin-top: 10px;
    border: 1px solid black;
}

.hex {
    width: 80px;
    font-weight: 600;
    border-right: 1px solid black;
}

.color-dot {
    height: 32px;
    width: 32px;
    margin-right: 10px;
    border-right: 1px solid black;
} 

#heading_core {
    margin-top: 0;
    padding: 10px 10px 0 10px;
}

#authorInfo {
    padding-bottom: 10px;
}

#colors {
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 2em;
    background-color: #e7e7e7;
    padding: 5px;
    color: #222222;
} 

#primary_color {
    background-color: var(--primary);
}

#secondary_color {
    background-color: var(--secondary);
}

#accent1_color {
    background-color: var(--accent1);
}

#accent2_color {
    background-color: var(--accent2);
}

#color-img {
    display: none;
}

#logo-img,
#sample-text-img,
#domain_img {
    object-fit: cover;
    width: 100%;
    max-width: 650px;
    display: block;
    margin: auto;
}
