* {
  margin: 0 auto ;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  max-width: 1800px;

}

/* Template design */

:root {

  --primary-color: #5ef3a9;
  --primary-color-second-option: #076fac;
  --secondary-color: #f77b86 ;
  --accent1-color: #e0f779  ;
  --accent2-color: #03d86d;

  --backgroundPrimaryColor: #5ef3a9;
  --backgroundSecondaryColor: #cff0df;

  --containerBackgroundBodyPrimaryColor: #e7f3a0;
  --containerBackgroundBodySecondaryColor: #f3f5e7;

  --heading-font: "Open Sans";
  --paragraph-font: Helvetica, sans-serif;

  --headline-color-on-white: #028d48; /* headlines on a white background */
  --headline-color-on-color: #f3f5e7; /* headlines on a colored background */
  --paragraph-color-on-white: #000; /* paragraph text on a white background */
  --paragraph-color-on-color: #000; /* paragraph text on a colored background */
  --paragraph-background-color: linear-gradient(to right, var(--containerBackgroundBodyPrimaryColor), var(--containerBackgroundBodySecondaryColor), var(--containerBackgroundBodyPrimaryColor));
  --nav-link-color: #000;
  --nav-background-color: linear-gradient(to right, var(--backgroundPrimaryColor), var(--backgroundSecondaryColor), var(--backgroundPrimaryColor));;
  --nav-hover-link-color: #f77b86;
}

img {
  display: block;
  margin: 0 auto;
  width:20rem;
  padding-top: 10px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
h2,h3,h4{
  margin-top: 20px;
}
#brandName{
  text-align: center;
}

hr {
  max-width: 95%;
  height: 3px;
  margin: 0 auto;
  margin-bottom: 50px;
  background: linear-gradient(#eff5e0, #cdd6d2);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 30px;
  text-align: justify;
  word-wrap: break-word;
}
.targetAudienceLists{
  align-items: center;
  font-weight: bold;
}
.targetAudienceLi{
  padding: 50px;
  margin-left: 50px;
  align-items: center;
text-align: justify;
justify-content: center;
}
.targetAudienceP{
  margin-bottom: -45px;
  font-weight: 100;
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

.templateMenu {
  background: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
.templateMenu  {
  list-style-type: none;
  display: flex;

}
.templateMenu a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;

}
.templateMenu a:link, .templateMenu a:visited {
  color: var(--nav-link-color);
}
.templateMenu a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
ul{ 
  list-style: none;
}
#siteMap{
  border-radius: 20px;
  max-width: 100%;
  width: 80%;
}

/* End the template */


body {
  background-color: rgb(40, 41, 41);
}
header,
footer {
  max-width: 1600px;
  width: 100%;
  display: flex;
  margin: auto;
  background: linear-gradient(#12a7e2, #6cffb5);
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: auto;
}
header div {
  flex: auto;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 0 -10px;
}
header div h1 {
  margin-top: 0px;
  font-size: 38px;
  color: #0a0c0c;
}
header div h2 {
  margin-top: -25px;
  font-size: 26px;
  color: #0a0c0c;
}

nav{
	text-align: center;
	display: flex;
  margin-bottom: 50px;
}
.hamburger {
  display: none;
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 1000000;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 20%;
  background: linear-gradient(#12a7e2, #6cffb5);
  margin-bottom: 10px;
  transition: all 0.8s ease-in-out;
  text-decoration: none;
  color: #ffffff;
}
.hamburger i{
  color: #ffffff;
}
.hamburger:hover{
  background: linear-gradient(#12a7e2, #532ed8);
}

.hamburger:focus {
  outline: none;
}

nav {
  display: block;
  align-items: center;
  justify-content: center;
}

.hamburger.active ~ nav {
  display: block;
}

.mainMenu{
  max-width: 1600px;
  margin: 0 auto;
  flex: 1 1 auto;
  width: 100%;
  background: linear-gradient(#6cffb5, #cfcfcfec);
  display: flex;
  flex-direction: row;
  flex-wrap: no wrap;
  padding: 15px 20px;
}

.mainMenu li{
	display: block;
  width: 100%;
  justify-content: space-between;
	text-align: center;
	text-decoration: none;
	font-size: 1.2rem;
  text-transform: capitalize;

}
.mainMenu li .active {
  color: #fefdff;
  background: linear-gradient(#12a7e2, #532ed8);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 10px 10%;

}


.mainMenu li a{
  text-decoration: none;
  color: #0a0c0c;
}
.mainMenu li a:hover{
  color: #e6e6e6;
}

main{
  max-width: 1600px;
  color: white;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

footer {
  height: auto;
  text-align: center;
  padding: 10px 10px;
}

footer a {
  text-decoration: none;
  color: #05425e;
  font-weight: 500;
}

footer a:hover {
  text-decoration: none;
  color: #012649;
  font-weight: 500;
}

#firstLineFooter{
  padding: 0;
  color: #0a0c0c;
}

#secondLineFooter {
  color: #016b9c;
  text-align: center;
  font-weight: 600;
  font-style: italic;
  padding: 0;
}
