:root {
  --primary: #2b2df5;
  --secondary: #0081c9;
  --accent1: #edf126;
  --accent2: #120b0e;
}

@font-face {
  font-family: "Horizon";
  src: url("./horizon.woff") format("woff"),
    url("./horizon_outlined.woff") format("woff2");
}

body {
  margin-left: 0;
  width: 100%;
  background: #70e1f5;
  background: -webkit-linear-gradient(to bottom, #ffd194, #70e1f5);
  background: linear-gradient(to bottom, #70e1f5, #ffd194);
}
p {
  font-family: "Source Sans 3", sans-serif;
}
header {
  display: flex;
  background-color: rgba(0, 129, 201, 0.6);
  position: fixed;
  width: 100%;
}

#logo_img {
  width: 90px;
  margin-left: 120px;
  padding: 5px;
}

nav {
  margin: 1rem auto;
}
li {
  font-family: Horizon;
  list-style-type: none;
}
#menu {

  font-size: 1.2rem;
  border: 1px solid var(--accent2);
  padding: 0.2rem 0.7rem;
  background-color: var(--primary);
  color: var(--accent1);
  position: absolute;
  top: 1rem;
  right: 4rem;
  font-family: Horizon;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "X";
}

.navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.navigation li {
  display: none;
}
.navigation li a {
  text-decoration: none;
  color: var(--accent2);
  display: block;
  padding: 1rem;
  text-align: center;
}
.navigation li a:hover {
  color: aliceblue;
  font-weight: 700;
}
.open li {
  display: block;
  width: 100%;
}
.open li a {
  display: block;
}

#hero_img {
  top: 0;
  left: 0;
  max-width: 100%;
  z-index: -1;
}

#hero h1 {
  font-family: Horizon;
  color: var(--accent2);
  text-align: center;
  top: 50%;
}
.info_cards {
  border: solid 1px var(--accent2);
}
h2 {
  font-family: "Horizon";
}
#action{
  background-color: rgba(5, 5, 5, 0.2);
  display: grid;
  grid-template-columns: 1fr
}
#join h2 {
  top: 50%;
  right: 30%;
}
#join{
  background-color: var(--primary);
  padding-top: 10px;
  padding: 10px;
  padding-bottom: 50px;
}
#join_button {
  background-color: whitesmoke;
  padding: 12px;
  text-decoration: none;
  font-family: "Horizon";
  color: var(--accent2);
}
#action_bck{
  z-index: -1;
}
#info{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  background-color: #0081C9;
}

.info_cards h2{
  border: solid 2px var(--accent2);
  margin-top: 0;
}
footer {
  margin-top: 1.2rem;
  padding: 20px 40px 20px;
  text-align: center;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  max-width: 1200px;
  margin: 0 auto;
  left: 0;
  bottom: 0;
}
