:root{
  --primary: #5E0B0E;
  --secondary: #361C18;    
  --accent1: #D6AE81;
  --accent2: #120B0E;
}


  .float-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 20%;
    background: transparent;
    border: solid 1px var(--accent1);
    margin-bottom: 10px;
    text-decoration: none;
  }

  .float-button:hover {
    background: linear-gradient(to right, #e4f7c3, #016485, #e4f7c3);
    border: solid 1px #e4f7c3;
    transition: all 0.2s ease-in-out;
  }
  
  .float-buttons .views{
    position: fixed;
    left: 10px;
    bottom: 5px;
    z-index: 1000000;
    width: 30px;
    height: 30px;
    border-radius: 12px;
    background: transparent;
    margin-bottom: 10px;
    text-decoration: none;
  }
  .float-button:hover.views i {
    color: #e4f7c3;
    transition: all 0.2s ease-in-out;
  }
  
  .float-button.views i{
    color: var(--accent1);
    font-size: 20px;
  }