:root{
  --primary: #5E0B0E;
  --secondary: #120B0E;
  --accent1: #D6AE81;
  --accent2: #361C18;
}

/* Mobile */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1em;
    
  }
  
  .gridArea4 {
    grid-area: 1 / 1 / 2 / 5;
    height: 300px;
    border: solid var(--accent2);
    box-shadow: 3px 3px 30px var(--primary);
  }
  .gridArea1 {
    grid-area: 2 / 1 / 3 / 5;
    border: solid var(--accent2);
    box-shadow: 3px 3px 30px var(--primary);
    background-color: var(--primary);
    height: 150px;
    
  }
  .gridArea2 {
    grid-area: 3 / 1 / 4 / 5;
    height: 150px;
    border: solid var(--accent2);
    box-shadow: 3px 3px 30px var(--primary);
  }
  .gridArea5 {
    grid-area: 4 / 1 / 5 / 5;
    height: 175px;
    border: solid var(--accent2);
    box-shadow: 3px 3px 30px var(--primary);
  }
  .spotlights {
    border: solid var(--accent2);
    box-shadow: 3px 3px 30px var(--accent1);
      padding: 50px;
    grid-area: 6 / 1 / 7 / 5;
  }
  .gridArea6 {
    grid-area: 6 / 1 / 5 / 5;
    height: 250px;
    border: solid var(--accent2);
    box-shadow: 3px 3px 30px var(--accent1);
    margin-bottom: 10px;
  }
  .gridArea7 {
    grid-area: 7 / 1 / 7 / 5;
    height: 250px;
    border: solid var(--accent2);
    box-shadow: 3px 3px 30px var(--accent1);
  }
  
  .gridArea3 {
    display: none;
    border: solid var(--accent2);
    box-shadow: 3px 3px 30px var(--primary);
  }
  .gridArea8 {
    display: none;
    border: solid var(--accent2);
    box-shadow: 3px 3px 30px var(--primary);
  }
  
  /* Medium */
  @media screen and (min-width: 600px) {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
    }
    .gridArea4 {
      grid-area: 1 / 1 / 2 / 5;
      height: 175px;
    }
    .gridArea5 {
      grid-area: 2 / 1 / 3 / 5;
      height: 175px;
    }
    .spotlights {
      border: solid var(--accent2);
      box-shadow: 3px 3px 30px var(--primary);
        display: grid;
      gap: 1em;
      grid-area: 3 / 1 / 5 / 5;
      height: auto;
      padding: auto;
  }
    .gridArea6 {
      grid-area: 3 / 1 / 5 / 3;
      height: 175px;
    }
    .gridArea7 {
      grid-area: 3 / 3 / 5 / 5;
      height: 175px;
    }
    .gridArea3 {
      grid-area: 5 / 1 / 6 / 5;
      height: 175px;
      display: block;
      border: solid var(--accent2);
      box-shadow: 3px 3px 30px var(--primary);
      }
    .gridArea2 {
      grid-area: 6 / 3 / 7 / 5;
      height: 175px;
    }
  
    .gridArea1 {
      grid-area: 6 / 1 / 7 / 3;
      height: 175px;
    }
    .gridArea8 {
      display: none;
    }
  
  }
  
  /* Large */
  @media screen and (min-width: 960px) {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, 1fr);
    }
  
    .gridArea1 {
      grid-area: 1 / 1 / 3 / 2;
      height: 250px;
    }
    .gridArea2 {
      grid-area: 3 / 1 / 5 / 2;
      height: 250px;
    }
  
    .gridArea3 {
      grid-area: 5 / 1 / 7 / 2;
      height: 250px;
    }
    .gridArea4 {
      grid-area: 1 / 2 / 5 / 4;
      height: 550px;
      margin-top: 5px;
    }
    .gridArea5 {
      grid-area: 5 / 2 / 7 / 4;
      height: 250px;
      margin-top: -10px;
    }
    .spotlights {
      border: solid var(--accent2);
      box-shadow: 3px 3px 30px var(--accent1);
        grid-area: 1 / 4 / 7 / 4;
      padding: 20px 10px;
      height: auto;
  
  }
    .gridArea6 {
      grid-area: 1 / 1 / 3 / 5;
      height: 250px;
    }
    .gridArea7 {
      grid-area: 3 / 1 / 5 / 5;
      height: 250px;
    }
    .gridArea8 {
      grid-area: 5 / 1 / 7 / 5;
      display: block;
      height: 250px;
      border: solid var(--accent2);
      box-shadow: 3px 3px 30px var(--primary);
      }
  
  }