@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');

body{
    font-family: 'Inter Tight', sans-serif;
    background: #F5F5F5;
    color: #F5F5F5;
}

header,footer{
    background-color: #424242;
    text-align: center;
    padding: 1rem;
}

footer{
    margin-top: 2rem;
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 2rem;
}

#card-1,#card-2,#card-3{
    background-color: #0170B9;
    padding: 1rem;
    text-align: center
}

.high{
    background-color: #424242; 
    padding: 8px;
    margin: 0;
    border-radius: 5px;
}

.titles-box{
    margin-bottom: 1rem;
    text-align: left;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

img{
    max-width: 100%;
}

.context{
    text-align: justify;
}


@media only screen and (max-width : 768px){
    main{
        display: block;
    }

    .grid-1,.grid-2,.grid-3{
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width : 320px){
    main{
        display: block;
    }
    .grid-1,.grid-2,.grid-3{
        margin-bottom: 2rem;
    }
}
    
@media only screen and (min-width: 32.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-child(2) {
		display:block;
	}

	main section:nth-child(3) {
		grid-column: span 2;
	}

	main section picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}
